.c{
    text-align: center;
    justify-content: center;
    color: white;
    background-color: black;
}

.footer_options{
    padding-top: 25px;
    padding-bottom: 25px;
}

.icons{

    padding-top: 25px;
    padding-bottom: 25px;
}

.icon_spacing
{
    padding-right: 20px;
    padding-left: 20px;
}
.footer{
    margin-top: 580px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}

.info_col{
    margin-top:20px;
}
.my-foot{
    padding-top: 0.5rem;
}
.icon-foot{
    padding-top:1rem;
}

@media only screen and (max-width: 720px) {

.my-foot{
    text-align: center;
    justify-content: center;
    margin-left: 9.5rem;
}
.icon-foot{
    padding-top: 1rem;
}

}